<div id="main" class="onepager js-onepager">

	<div class="logo-container">
		<p class="logo">
			<img src="/images/scrollmagic/iht-logo-big.svg" alt="Ihatetomatoes.net">
			<span>presents</span>
		</p>
	</div>

	<div id="slide01" class="slide active">
		<div class="bcg-color"></div>
		<div class="bcg-white"></div>
		<div class="primary">
			<div class="bcg"></div>
			<p class="number">100</p>
		</div>
		<div class="secondary">
			<p class="title">
				<strong class="fade-txt">awwwards</strong>
				<em class="fade-txt">websites</em>
				<span class="fade-txt">deconstructed</span>
			</p>
		</div>
	</div>

</div>
<!-- #main-container -->
