<div class="imagescroll__padding"></div>

<section class="imagescroll js-imagescroll">
	<img src="../images/pp-imagescroll/stoc0000.jpg" alt="" class="imagescroll__images" />
</section>

<div class="imagescroll__padding"></div>
