<div class="wrapper project01 js-greensock1">
	<div class="projects">

		<div class="project project01">
			<div class="project-image">
				<img src="/images/greensock/img_merry-christmallax.png" alt="">
				<div class="project-pixels">
					<div class="pixel pixel01 sizeS"></div>
					<div class="pixel pixel02 sizeXL"></div>
					<div class="pixel pixel03 sizeL"></div>
					<div class="pixel pixel04 sizeXL"></div>
					<div class="pixel pixel05 sizeL"></div>
					<div class="pixel pixel06 sizeS"></div>
					<div class="pixel pixel07 sizeL"></div>
					<div class="pixel pixel08 sizeS"></div>
					<div class="pixel pixel09 sizeL"></div>
					<div class="pixel pixel10 sizeS"></div>
					<div class="pixel pixel11 sizeS"></div>
					<div class="pixel pixel12 sizeS"></div>
					<div class="pixel pixel13 sizeXL"></div>
					<div class="pixel pixel14 sizeL"></div>
					<div class="pixel pixel15 sizeXL"></div>
					<div class="pixel pixel16 sizeL"></div>
					<div class="pixel pixel17 sizeS"></div>
					<div class="pixel pixel18 sizeL"></div>
					<div class="pixel pixel19 sizeS"></div>
					<div class="pixel pixel20 sizeL"></div>
					<div class="pixel pixel21 sizeS"></div>
					<div class="pixel pixel22 sizeS"></div>
				</div>
			</div>
			<h2 class="project-title">Merry Christmallax</h2>
			{# <p class="button-container">
				<a href="#" class="button">
					<span class="bp bp-left"></span>
					<span class="bp bp-mid"></span>
					<span class="bp bp-right"></span>
					<span class="bg-text">View Project</span>
				</a>
			</p> #}
			<p class="project-subtitle">Skrollr in action</p>
		</div>

	</div>
</div>
