<div class="slidesContainer js-greensock2">

	<div id="slide01" class="slide slide01 ">
		<div class="bcg"></div>
		<div class="slideContent">
			<h1>Slide 1 Title</h1>
			<p>This is a short description.</p>
		</div>
	</div>

	<div id="slide02" class="slide slide02 active">
		<div class="bcg"></div>
		<div class="slideContent">
			<h1>Slide 2 Title</h1>
			<p>This is a short description.</p>
		</div>
	</div>

	<div id="slide03" class="slide slide03">
		<div class="bcg"></div>
		<div class="slideContent">
			<h1>Slide 3 Title</h1>
			<p>This is a short description.</p>
		</div>
	</div>

	<div id="slide04" class="slide slide04">
		<div class="bcg"></div>
		<div class="slideContent">
			<h1>Slide 4 Title</h1>
			<p>This is a short description.</p>
		</div>
	</div>

	<ul class="nav">
		<li><a href="#slide01">Slide 1</a></li>
		<li class="active"><a href="#slide02">Slide 2</a></li>
		<li><a href="#slide03">Slide 3</a></li>
		<li><a href="#slide04">Slide 4</a></li>
	</ul>

</div>
