/*================================================
=             _typography.scss -                 =
================================================*/


@mixin fontface($name, $path, $filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url($path + $filename + ".eot");
    src: url($path + $filename + ".eot?#iefix") format("embedded-opentype"),
         url($path + $filename + ".svg#" + $filename) format("svg"), // svg#name must match filename
         url($path + $filename + ".woff") format("woff"),
         url($path + $filename + ".ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}


// Base fonts
@include fontface('DropDeadGorgeous', '../fonts/', 'DropDeadGorgeous');
@include fontface('NeueHaasUnicaPro-Heavy', '../fonts/', 'NeueHaasUnicaPro-Heavy');
@include fontface('NeueHaasUnicaPro-BoldItalic', '../fonts/', 'NeueHaasUnicaPro-BoldItalic');
@include fontface('NeueHaasUnicaPro-Light', '../fonts/', 'NeueHaasUnicaPro-Light');

$font-hero: "DropDeadGorgeous", sans-serif;
$font-heading1: "NeueHaasUnicaPro-Heavy", Arial;
$font-heading2: "NeueHaasUnicaPro-BoldItalic", Arial;
$font-body: "NeueHaasUnicaPro-Light", Arial;
