.product-panel {
    // @include clearfix;
    // @include container;
    position: relative;

    .panel-image {
        width: 100%;
        position: relative;
        min-height: 330px;
        padding-top: 15px;
        overflow: hidden;

        @media #{$screen-medium} {
            // @include span(4 of 12);
            width: 33.3%;
            float: right;
            margin-right: 0;
            min-height: 510px;
            position: relative;
            padding-top: 0;
        }
    }

    .panel-shard {
        background: $global2;
        position: absolute;
        width: 40%;
        min-height: 330px;
        top: -15px;

        @media #{$screen-medium} {
            display: none;
        }

        &::after {
            background: $global2;
            content: "";
            position: absolute;
            width: 200%;
            height: 200%;
            border-right: 5px solid $primary3;
            display: block;
            right: -75px;
            top: -250px;
            transform: rotate(14deg);
            transform-origin: left;
        }
    }

    .panel-tyre {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 230px;
        min-height: 305px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        @media #{$screen-medium} {
            min-height: 375px;
            width: 300px;
            right: auto;
            margin: auto 0;
            top: 0;
            bottom: 0;
            z-index: 5;
        }
    }

    .panel-bkgnd {
        width: 65%;
        min-height: 305px;
        float: right;
        background-position: center right;
        background-repeat: no-repeat;

        @media #{$screen-medium} {
            min-height: 510px;
            width: 100%;
            background-position: top right;
            background-size: cover;
        }
    }

    .panel-content {
        width: 100%;
        padding: 30px 28px;
        background: $global1;

        @media #{$screen-medium} {
            background: $global2;
            // @include span(9 of 12);
            width: 75%;
            margin-right: 0;
            float: none;
            position: absolute;
            min-height: 570px;
            z-index: 3;
            transform: rotate(-5deg);
            transform-origin: top left;
            backface-visibility: hidden;
            top: 70px;
            left: -55px;
            border-right: 5px solid #000;

            // Fixes jagged edges appearing in Chrome
            padding: 1px;
            background-clip: content-box;

            &::after {
                content: "";
                position: absolute;
                width: 160px;
                height: 100%;
                display: block;
                right: -80px;
                top: 0;
                transform: skew(-15deg);
                backface-visibility: hidden;
                background: $global2;
                border-right: 5px solid $primary3;

                // Fixes jagged edges appearing in Chrome
                padding: 1px 0;
                background-clip: content-box;
            }
        }

        .inner {

            @media #{$screen-medium} {
                transform: rotate(5deg);
                transform-origin: top left;
                padding-top: 60px;
                position: relative;
                left: 55px;
                // @include span(6 of 9);
                width: 66.6%;
                // margin-left: span(1 wide of 9);
                margin-left: 11.1%;
                margin-right: 0;
            }
        }

        h3 {
            margin-top: 0;
            @extend .heading3;
        }

        h1 {
            margin-top: 0;
            @extend .heading1;

            @media #{$screen-medium} {
                margin-bottom: 20px;
            }
        }

        p {
            line-height: 1.8;
            margin-bottom: 25px;
        }
    }

    .cta-container {
        // @include clearfix;
        text-align: left;
    }

    .panel-cta,
    .panel-cta2 {
        margin-bottom: 15px;
        width: 100%;
        @extend .cta-primary;

        @media #{$screen-medium} {
            display: inline-block;
            margin-right: 15px;
            width: 45%;
        }
    }

    .panel-cta2 {
        @extend .cta-secondary;

        @media #{$screen-medium} {
            margin-right: 0;
        }
    }
}
