.section-swipes {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .sw-panel {
        height: 100%;
        width: 100%;
        position: absolute;

        &.blue {
            background-color: #3883d8;
        }

        &.turqoise {
            background-color: #38ced7;
        }

        &.green {
            background-color: #22d659;;
        }

        &.bordeaux {
            background-color: #953543;
        }

        > p {
          top: 50%;
          transform: translateY(-50%);
          position: relative;
          font-size: 30px;
          margin: 0;
        }
    }
}

.page-spacing {
    height: 500px;
    background: #ccc;
}

.container {
    height: 100%;
}
