{% extends "layout.njk" %}

{% block content %}

    {% include "partials/michelin/panel-hero.njk" %}

    {% include "partials/michelin/panel-product.njk" %}

    {% include "partials/michelin/panel-video.njk" %}

    {% include "partials/michelin/panel-article.njk" %}

    {% include "partials/michelin/panel-message.njk" %}

{% endblock %}
