{% extends "layout.njk" %}

{% block content %}

    {% include "partials/header.njk" %}

    {% include "partials/panel-hero.njk" %}

    {% include "partials/panel-product.njk" %}

    {% include "partials/panel-video.njk" %}

    {% include "partials/panel-article.njk" %}

    {% include "partials/panel-message.njk" %}

    {% include "partials/footer.njk" %}
{% endblock %}
