body {

    color: #fff;
	// width: 100vw;

	// overflow-x: hidden;
}

.pp_index {
	height: 100vh;
	background: linear-gradient(#1e1e20 , #52616d);

    h1 {
        display: block;
        padding: 0 30px;
		font-family: $font-body;
    }

    &__content {
		font-family: $font-body;

        @media #{$screen-medium} {
            display: flex;
            justify-content: space-around;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    &__col {
        width: 100%;
        padding: 0 30px;

        @media #{$screen-medium} {
            width: 33.3%;
        }
    }
}
