<section class="pp_index">
    <h1>PushingPixels UI Library</h1>

    <div class="pp_index__content">
        <div class="pp_index__col">
            <h2>Prototypes</h2>
            <ul>
                <li><a href="">Diagonal panels parallax</a></li>
                <li><a href="">Video players</a></li>
                <li><a href="/parallax.html">Parallax scrolling</a></li>
                <li><a href="/section-wipes.html">Section wipes</a></li>
                <li><a href="">Scrolling video</a></li>
                <li><a href="">Section Slides</a></li>
                <li><a href="">3D slides</a></li>
                <li><a href="">SVG drawing</a></li>
                <li><a href="">Bezier paths</a></li>
                <li><a href="">Image Sequence</a></li>
                <li><a href="">Music video</a></li>
                <li><a href="">Swipe mask</a></li>
            </ul>
        </div>

        <div class="pp_index__col">
            <h2>Pages</h2>
            <ul>
                <li><a href="/michelin-homepage.html">Michelin homepage</a></li>
            </ul>

            <h2>P5.js</h2>
            <ul>
                <li><a href="/p5.html">Noise carpet</a></li>
            </ul>

            <h2>Pixi.js</h2>
            <ul>
                <li><a href="/pixi.html">Pixi demo</a></li>
            </ul>

        </div>

        <div class="pp_index__col">
            <h2>Elements</h2>
            <ul>
                <li><a href="">Buttons</a></li>
                <li><a href="">Typography</a></li>
            </ul>

        </div>
    </div>
</section>
