<section class="pp_index">
    <h1>UI Lab</h1>

    <div class="pp_index__content">
        <div class="pp_index__col">
            <h2>Prototypes</h2>
            <ul>
                <li><a href="/parallax.html">Parallax scrolling</a></li>
                <li><a href="/section-wipes.html">Section wipes</a></li>
				<li><a href="#">Clip masking</a></li>
            </ul>

			<h2>Elements</h2>
            <ul>
                <li><a href="">Buttons</a></li>
                <li><a href="">Typography</a></li>
            </ul>

            <h2>Pixi.js</h2>
            <ul>
                <li><a href="/pixi.html">Pixi demo</a></li>
            </ul>

			<h2>Mo.js</h2>
			<ul>
				<li><a href="/mojs/bubble-layout.html">Bubble layout</a></li>
			</ul>
        </div>

        <div class="pp_index__col">
            <h2>PushingPixels concepts</h2>
            <ul>
                <li><a href="/pp/splash.html">Splash intro</a></li>
                <li><a href="/pp/image-scroll.html">Image scroll sequence</a></li>
                <li><a href="/pp/gallery.html">Portfolio gallery</a></li>
            </ul>

            <h2>P5.js</h2>
            <ul>
                <li><a href="/p5.html">Noise carpet</a></li>
                <li><a href="/p5js/hello-form.html">Hello Form</a></li>
				<li><a href="/p5js/grid-alignment.html">Grid alignment</a></li>
				<li><a href="/p5js/flower-of-life.html">Flower of Life</a></li>
				<li><a href="/p5js/mandala.html">Mandala</a></li>
                <li><a href="/p5js/pixel-colourist.html">Pixel Colourist</a></li>
            </ul>

			<h2>Snap.svg</h2>
			<ul>
				<li><a href="/snap-svg/raining-shapes.html">Raining shapes</a></li>
				<li><a href="/snap-svg/scrolling-grid.html">Scrolling grid</a></li>
				<li><a href="/snap-svg/phyllotaxis.html">Phyllotaxis</a></li>
			</ul>

        </div>

        <div class="pp_index__col">
            <h2>Nature of Code</h2>

			<h2>Introduction</h2>
			<ul>
				<li><a href="/nature-of-code/random-walker.html">1. Random Walker</a></li>
				<li><a href="/nature-of-code/random-distribution.html">2. Random distribution</a></li>
			</ul>

			<h2>Greensock</h2>
			<ul>
				<li><a href="/greensock/gallery2.html">Gallery</a></li>
                <li><a href="/greensock/slideshow.html">Slideshow</a></li>
				<li><a href="/greensock/svg-lab.html">SVG Lab</a></li>
			</ul>

			<h2>Scrollmagic</h2>
			<ul>
				<li><a href="/scrollmagic/cross-reveal.html">Cross reveal sections</a></li>
				<li><a href="/scrollmagic/pen-revealing.html">Pen revealing effect</a></li>
				<li><a href="/scrollmagic/onepager.html">One pager</a></li>
				<li><a href="#">Multiple directions</a></li>
			</ul>
        </div>
    </div>
</section>
