<section class="pp_index">
    <h1>User Interface Library</h1>

    <div class="pp_index__content">
        <div class="pp_index__col">
            <h2>Prototypes</h2>
            <ul>
                <li><a href="">Diagonal panels parallax</a></li>
                <li><a href="">Video players</a></li>
                <li><a href="/parallax.html">Parallax scrolling</a></li>
                <li><a href="/section-wipes.html">Section wipes</a></li>
                <li><a href="">Scrolling video</a></li>
                <li><a href="">Section Slides</a></li>
                <li><a href="">3D slides</a></li>
                <li><a href="">SVG drawing</a></li>
                <li><a href="">Bezier paths</a></li>
                <li><a href="">Music video</a></li>
                <li><a href="">Swipe mask</a></li>
            </ul>

			<h2>Elements</h2>
            <ul>
                <li><a href="">Buttons</a></li>
                <li><a href="">Typography</a></li>
            </ul>

            <h2>Pages</h2>
            <ul>
                <li><a href="/michelin-homepage.html">Michelin homepage</a></li>
            </ul>

            <h2>Pixi.js</h2>
            <ul>
                <li><a href="/pixi.html">Pixi demo</a></li>
            </ul>
        </div>

        <div class="pp_index__col">
            <h2>PushingPixels concepts</h2>
            <ul>
                <li><a href="/pp/splash.html">Splash intro</a></li>
                <li><a href="/pp/image-scroll.html">Image scroll sequence</a></li>
                <li><a href="/pp/gallery.html">Portfolio gallery</a></li>
            </ul>

            <h2>P5.js</h2>
            <ul>
                <li><a href="/p5.html">Noise carpet</a></li>
                <li><a href="/p5js/hello-form.html">Hello Form</a></li>
				<li><a href="/p5js/grid-alignment.html">Grid alignment</a></li>
				<li><a href="/p5js/flower-of-life.html">Flower of Life</a></li>
				<li><a href="/p5js/mandala.html">Mandala</a></li>
                <li><a href="/p5js/pixel-colourist.html">Pixel Colourist</a></li>
            </ul>

        </div>

        <div class="pp_index__col">
            <h2>Nature of Code</h2>

			<h2>Introduction</h2>
			<ul>
				<li><a href="/nature-of-code/random-walker.html">1. Random Walker</a></li>
				<li><a href="/nature-of-code/random-distribution.html">2. Random distribution</a></li>
				<li><a href="#">3. Gaussian distribution</a></li>
				<li><a href="#">5. Custom distribution</a></li>
				<li><a href="#">6. Perlin Noise</a></li>
			</ul>

			<h2>Vectors</h2>

			<h2>Forces</h2>

			<h2>Oscillation</h2>

			<h2>Particle Systems</h2>

			<h2>Physics</h2>

			<h2>Autonomous Agents</h2>

			<h2>Cellular Automata</h2>

			<h2>Fractals</h2>

			<h2>Genetic Algorithms</h2>
        </div>
    </div>
</section>
