<section class="message-panel" data-panel-message="">
    <div class="message-panel__bkgnd">
        <div id="videoMessage" class="message-panel__videoplayer"></div>
        <div class="message-panel__mobile-image">
            <img src="{{ messagePanel.mobileImage }}" alt="" />
        </div>
    </div>

    <div class="message-panel__content">
        <blockquote class="message-panel__quote">
            <p>"{{ messagePanel.headline }}"</p>
            <cite>{{ messagePanel.subheading }}</cite>
        </blockquote>
    </div>
</section>
