<div class="parallax js-parallax">
    <section id="parallax1" class="parallax__parent">
        <div class="parallax__image" style="background-image: url(images/congruent_outline.png);"></div>
    </section>

    <section id="parallax2" class="parallax__parent">
        <div class="parallax__image" style="background-image: url(images/congruent_pentagon.png);"></div>
    </section>

    <section id="parallax3" class="parallax__parent">
	      <div class="parallax__image" style="background-image: url(images/swirl_pattern.png);"></div>
    </section>
</div>
