<section class="section-wipes">

  <section class="section-wipes__intro">
      <p>Scroll down</p>
  </section>

  <div id="pinContainer" class="section-wipes__container js-section-wipes">
    	<section class="section-wipes__panel blue">
      		<p>ONE</p>
    	</section>
    	<section class="section-wipes__panel turqoise">
    		  <p>TWO</p>
    	</section>
    	<section class="section-wipes__panel green">
    		  <p>THREE</p>
    	</section>
    	<section class="section-wipes__panel bordeaux">
    		  <p>FOUR</p>
    	</section>
  </div>
</section>
